<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link href="/styles/cartStyle.css" rel="stylesheet"/>
    <link href="/styles/headerStyle.css" rel="stylesheet"/>
</head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div id="notification"></div>
    <div class="cart-container">
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <form class="shipping-form">
            <div class="form-group">
                <label for="fullName">Full name:</label>
                <input type="text" id="fullName" name="fullName" required>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>
            </div>
	        <div class="total-price">
	            <span>Sum: </span><span id="totalPrice">0.00</span> UA.
	        </div>
	        <button type="submit" id="checkoutButton">Order</button>
        </form>
    </div>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/cart.js"></script>
</body>
</html>
