<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header id="header">
        <div class="logo">
            <a href="/">
                <img src="logo.png" alt="Bookstore log">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="#cart">Cart</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contacts</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </header>	
</body>
</html>