<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header id="header">
        <div class="logo">
            <a href="/">
                <img src="../logo.png" alt="Bookstore logo">
            </a>
        </div>
        <div class="user-menu">
            <div class="avatar" onclick="toggleDropdown()">
                <img id="avatarAuth" alt="Avatar">
                <span id="username">Username</span>
            </div>
            <div class="dropdown" id="dropdown">
           	 	<a id="profile">My Profile</a>
                <a id="books">My Books</a>
                <a href="../addBook">Add Book</a>
                <a id="cart">Cart</a>
                <hr class="line">
                <a href="../logout">Log Out</a>
            </div>
        </div>
    </header>
    
</body>
</html>