<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/styles/homeStyle.css" rel="stylesheet"/>
    <link href="/styles/headerStyle.css" rel="stylesheet"/>
</head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <div class="containerOfbooks"></div>
    <div class="pagination"></div>
    <div id="notification"></div>
    <script src="scripts/home.js"></script>
    <script src="scripts/header.js"></script>
</body>
</html>
