<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Page</title>
<link th:href="@{/styles/loginStyle.css}" rel="stylesheet">
</head>
<body>
	<div class="login-container">
		<h2>Login</h2>
		<div th:if="${param.success}">
			<p class="success-message">You successfully register!</p>
		</div>
		<div th:if="${param.error}">
			<p class="error-message">Account doesn't exist</p>
		</div>
		<form id="loginForm" action="/login" method="post">
			<div class="input-group">
				<label for="username">Username</label> <input type="text"
					id="username" name="username" required>
			</div>
			<div class="input-group">
				<label for="password">Password</label> <input type="password"
					id="password" name="password" required>
			</div>
			<button type="submit">Login</button>
			<div class="reg-href">
				<a href="/registration">Don't have an account?</a>
			</div>
		</form>
	</div>
</body>
</html>
