body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.cart-container {
    width: 80%;
    margin: 20px auto;
}

.cart-table .cover{
	max-width: 150px;
    max-height: 150px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #f4f4f4;
}

.cart-summary {
    text-align: right;
}

#checkoutButton {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#checkoutButton:hover {
    background-color: #45a049;
}
